<!DOCTYPE html>
<html>
  <head>
    <title>进行中任务</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="${base!}/static/plugins/layui-v2.4.3/layui/css/layui.css" type="text/css"></link>
  </head>
  
  <body>
    	<div class="layui-card">
		  <div class="layui-card-header">卡片面板</div>
		  <div class="layui-card-body">
		    卡片式面板面板通常用于非白色背景色的主体内<br>
		    从而映衬出边框投影
		    <div>
		    	https://github.com/yijiebuyi/SmartTouch
		    </div>
		    <div>
		    	https://www.cnblogs.com/fnng/p/8486863.html
		    </div>
			<div>
				https://github.com/openatx/uiautomator2
			</div>
		  </div>
		</div>
  </body>
</html>
