<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>后台管理系统框架</title>
	<link rel="icon" href="${base!}/static/images/icon/icon.png">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="${base!}/static/plugins/layui-v2.4.3/layui/css/layui.css" type="text/css"></link>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>后台管理系统框架</legend>
</fieldset>   
 
<div style="padding: 20px; background-color: #F2F2F2;">
  
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">若依管理系统 RuoYi</div>
        <div class="layui-card-body">
          https://gitee.com/y_project/RuoYi<br>
                         内置功能<br>
		          用户管理：用户是系统操作者，该功能主要完成系统用户配置。<br>
			部门管理：配置系统组织机构（公司、部门、小组），树结构展现支持数据权限。<br>
			岗位管理：配置系统用户所属担任职务。<br>
			菜单管理：配置系统菜单，操作权限，按钮权限标识等。<br>
			角色管理：角色菜单权限分配、设置角色按机构进行数据范围权限划分。<br>
			字典管理：对系统中经常使用的一些较为固定的数据进行维护。<br>
			参数管理：对系统动态配置常用参数。<br>
			通知公告：系统通知公告信息发布维护。<br>
			操作日志：系统正常操作日志记录和查询；系统异常信息日志记录和查询。<br>
			登录日志：系统登录日志记录查询包含登录异常。<br>
			在线用户：当前系统中活跃用户状态监控。<br>
			定时任务：在线（添加、修改、删除)任务调度包含执行结果日志。<br>
			代码生成：前后端代码的生成（java、html、xml、sql)支持CRUD下载 。<br>
			系统接口：根据业务代码自动生成相关的api接口文档。<br>
			在线构建器：拖动表单元素生成相应的HTML代码。<br>
			连接池监视：监视当期系统数据库连接池状态，可进行分析SQL找出系统性能瓶颈。<br>
			系统演示  <a target="_blank" href="http://www.ruoyi.vip">http://www.ruoyi.vip</a>
        </div>
      </div>
    </div>
    
    
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">Guns</div>
        <div class="layui-card-body">
		    1. 用户管理<br>
			2. 角色管理<br>
			3. 部门管理<br>
			4. 菜单管理<br>
			5. 字典管理<br>
			6. 业务日志<br>
			7. 登录日志<br>
			8. 监控管理<br>
			9. 通知管理<br>
			10. 代码生成<br>
			
			所用框架<br>
<br>
				前端<br>
				1. Bootstrap v3.3.6<br>
				2. jQuery v2.1.4<br>
				3. bootstrap-table v1.9.0<br>
				4. layer v2.1<br>
				5. zTree core v3.5.28<br>
				6. WebUploader 0.1.5<br>
				
				后端<br>
				1. SpringBoot 1.5.3.RELEASE<br>
				2. MyBatis-Plus 2.0.8<br>
				3. MyBatis 3.4.4<br>
				4. Spring 4.3.8.RELEASE<br>
				5. Beetl 2.7.15<br>
				6. hibernate-validator 5.3.5.Final<br>
				7. Ehcache 3.3.1<br>
				8. Kaptcha 2.3.2<br>
				9. Fastjson 1.2.31<br>
				10. Shiro 1.4.0<br>
				11. Druid 1.0.31<br>
			码云  <a target="_blank" href="https://gitee.com/stylefeng/guns/">http://www.ruoyi.vip</a>
        </div>
      </div>
    </div>
    
    
    
  </div>
  
  
  <div class="layui-row layui-col-space15">
  	<div class="layui-col-md6">
  		<div class="layui-card">
  			<div class="layui-card-header">febs后台权限管理系统</div>
  			<div class="layui-card-body">
  				FEBS是一个简单高效的后台权限管理系统。项目基础框架采用全新的Java Web开发框架 —— Spring Boot2.0.4，消除了繁杂的XML配置，使得二次开发更为简单；数据访问层采用Mybatis，同时引入了通用Mapper和PageHelper插件，可快速高效的对单表进行增删改查操作，消除了大量传统XML配置SQL的代码；安全框架采用时下流行的Apache Shiro，可实现对按钮级别的权限控制；前端页面使用Bootstrap构建，主题风格为时下Google最新设计语言Material Design，并提供多套配色以供选择。FEBS意指：Fast，Easy use，Beautiful和Safe。
  				</br>
  				<a target="_blank" href="https://gitee.com/github-16661027/project">FEBS</a>
  			</div>
  		</div>
  	</div>
  	
  	<div class="layui-col-md6">
  		<div class="layui-card">
  			<div class="layui-card-header">Ant Design</div>
  			<div class="layui-card-body">
  				服务于企业级产品的设计体系，基于确定和自然的设计价值观上的模块化解决方案，让设计者和开发者专注于更好的用户体验。</br>
  				<a target="_blank" href="https://ant.design/index-cn">Ant Design</a>
  			</div>
  		</div>
  	</div>
  	
  	
  </div>
  
  
  <div class="layui-row layui-col-space15">
  	
  </div>
  
  
</div> 
 
 
<script type="text/javascript" src="${base!}/static/layui-v2.4.3/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['element', 'layer'], function(){
  var element = layui.element;
  var layer = layui.layer;
  
  //监听折叠
  element.on('collapse(test)', function(data){
    layer.msg('展开状态：'+ data.show);
  });
});
</script>

</body>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?24da07f54fda02deafb9c7427284f8f0";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>

</html>