<!DOCTYPE html>
<html>
  <head>
    <title>标绘信息</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="${base!}/static/plugins/layui-v2.4.3/layui/css/layui.css" type="text/css"></link>
	<script type="text/javascript" src="${base!}/static/plugins/layui-v2.4.3/layui/layui.js"></script>
  </head>
  
  <body>
    	<form class="layui-form layui-form-pane" action="" lay-filter="toilet">
    		<input type="hidden" name="id" value="${obj.id}"/>
    		<input type="hidden" id="geojson" name="geojson" value="${obj.geojson}"/>
    		<input type="hidden" id="latLngs" name="latLngs" value="${obj.latLngs}"/>
    		<div class="layui-form-item">
			    <label class="layui-form-label">名称</label>
			    <div class="layui-input-block">
			      <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="layui-row" style="text-align: center;">
		  			<button class="layui-btn" lay-submit lay-filter="formDemo">保存修改</button>
		  	</div>
    	</form>
  </body>
  <script type="text/javascript">
  	layui.use(['jquery','layer', 'form', 'element','laydate'], function(){
  		var $ = layui.$ //重点处
  		var form = layui.form;
  		var element = layui.element;
  		var laydate = layui.laydate;
  		
  		form.render();
  		
  		
  		//监听提交
		form.on('submit(formDemo)', function(data){
			//var json = JSON.stringify(data.field);
			updatePlotting(data.field);
		    return false;
		});
		
		/*
		 * 添加区域
		 */
		function updatePlotting(formdata){
			console.log(geojson);
			var index = layer.load(0, {shade: false});
			$.ajax({
				url:"${base!}/api/plotting/insert",
				method:"POST",
				dataType:"json",
				data:formdata,
				success:function(data){
					layer.close(index);
					top.layer.closeAll();
					if(data.code==0){
						top.window.addPlottingCallback(data); 
					}
					
				},
				error:function(e){
					top.layer.close(index);
				}
			});
		}
		
  	});
  	
  	
  
  </script>
</html>
